{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Solutions section start -->
    <section class="solutions-section">
        <div class="container">
            <h2>About East West Group</h2>
            <p>
                East West Group is a leading provider of comprehensive solutions in heavy machinery and equipment,
                headquartered in Dubai, UAE. With years of industry expertise, we specialize in delivering innovative,
                reliable, and sustainable solutions tailored to meet the needs of the mining, construction, and
                agricultural sectors.
            </p>

            <div class="cards">
                <div class="card">
                    <img src="{% static 'images/icons/vision.svg' %}" alt="vision"/>
                    <div>
                        <h3>Our Vision</h3>
                        <p>
                            At East West Group, we envision a future where advanced technology and sustainable practices
                            redefine the possibilities in the mining, construction, and agricultural sectors. We strive
                            to be the partner of choice for our customers by consistently delivering value, fostering
                            innovation, and building long-term relationships. Our vision is to contribute to global
                            progress by supporting the development of essential infrastructure and sustainable resource
                            management.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <img src="{% static 'images/icons/mission.svg' %}" alt="mission"/>
                    <div>
                        <h3>Our Mission</h3>
                        <p>
                            Our mission is to empower industries with cutting-edge equipment and unparalleled services
                            that drive efficiency and productivity. We aim to set the benchmark in the heavy machinery
                            industry through customer-focused solutions, innovation, and unwavering commitment to
                            excellence. By prioritizing safety, sustainability, and operational excellence, we aspire to
                            help our clients achieve their goals seamlessly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Solutions section end -->

    <!-- Professionals section start -->
{#    <section class="professionals-section">#}
{#        <div class="container">#}
{#            <h2>Experienced Professionals with Best Service</h2>#}
{#            <p>#}
{#                Our team consists of experienced professionals and is highly committed#}
{#                to providing the best service to our customers.#}
{#            </p>#}
{##}
{#            <div class="cards">#}
{#                {% for team in teams %}#}
{#                    <div class="card">#}
{#                        <img src="{{ team.image.url }}" alt="professionals img">#}
{##}
{#                        <div class="card-content">#}
{#                            <h3>{{ team.full_name }}</h3>#}
{#                            <p>{{ team.position }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- Professionals section end -->

{% endblock %}
