@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: var(--2nd, #000);
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
}
.title:hover {
  opacity: 1;
}
@media (max-width: 850px) {
  .title {
    font-size: 36px;
  }
}

@keyframes link_hover {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
html {
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

.header {
  background: linear-gradient(180deg, #e1f1fd 0%, #d9e0e3 100%);
  max-width: 100vw !important;
}
.header > .container {
  margin-top: 50px;
}
.header-top {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}
@media (max-width: 1100px) {
  .header-top {
    display: none;
  }
}
.header-top * {
  display: flex;
  align-items: center;
}
.header-top .container {
  justify-content: space-between;
  color: var(--2nd, #000);
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  line-height: 27px;
  max-width: 80vw !important;
  overflow: hidden !important;
}
.header-top div {
  gap: 130px;
}
.header-top div a {
  gap: 10px;
}
.header-top ul {
  gap: 40px;
}
.header .menu {
  display: none;
}
@media (max-width: 900px) {
  .header .menu {
    display: block;
  }
  .header .menu img:nth-child(1) {
    display: block;
  }
  .header .menu img:nth-child(2) {
    display: none;
  }
  .header .menu img {
    width: 20px;
    height: 20px;
  }
}
.header .menu-active img:nth-child(1) {
  display: none;
}
.header .menu-active img:nth-child(2) {
  display: block;
}
.header .fixed {
  position: fixed !important;
  top: 0px;
  z-index: 500;
  width: 100%;
  padding: 0px 0 !important;
  backdrop-filter: blur(50px);
}
.header .navbar {
  padding: 24px 0;
  margin-bottom: 70px;
  transition: 0.5s;
  position: relative;
}
@media (max-width: 910px) {
  .header .navbar {
    position: fixed !important;
    top: 0px;
    z-index: 500;
    width: 100%;
    padding: 0px 0 !important;
    backdrop-filter: blur(50px);
  }
}
@media (max-width: 900px) {
  .header .navbar {
    margin-bottom: 0px;
    padding: 12px 0;
  }
  .header .navbar .logo {
    max-width: 200px !important;
  }
  .header .navbar .logo img {
    max-width: 200px !important;
  }
  .header .navbar .nav-list {
    width: 0%;
    visibility: hidden;
    display: none;
    transition: 0;
  }
  .header .navbar .nav-list_active {
    display: flex !important;
    position: absolute;
    top: 40px;
    backdrop-filter: blur(50px);
    width: 100vw !important;
    left: 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px !important;
    visibility: visible !important;
    padding: 12px 0;
    background: linear-gradient(180deg, #e1f1fd 0%, #d9e0e3 100%);
    z-index: 10000;
    height: 250px;
  }
}
.header .navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .container ul {
  display: flex !important;
  gap: 40px;
}
.header .navbar .container ul li {
  color: var(--2nd, #000);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.header .navbar .container ul li::after {
  content: "";
  display: block;
  position: relative;
  bottom: -5px;
  width: 100%;
  height: 2px;
}
.header .navbar .container ul li:hover::after {
  content: "";
  display: block;
  position: relative;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #f7c63b;
  animation-name: link_hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin: 0 auto;
}
.header .navbar .container ul .active {
  color: #f7c63b !important;
}
.header .navbar .container ul .active::after {
  content: "";
  display: block;
  position: relative;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #f7c63b;
  animation-name: link_hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin: 0 auto;
}
.header > .container {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1100px) {
  .header > .container {
    flex-direction: column;
  }
  .header > .container button {
    margin-bottom: 10px !important;
  }
  .header > .container h2 {
    font-size: 36px !important;
  }
  .header > .container p {
    font-size: 16px !important;
  }
}
.header > .container h2 {
  color: var(--2nd, #000);
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 34px;
}
.header > .container p {
  color: #222;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  margin-bottom: 42px;
}
.header > .container button {
  border-radius: 30px;
  background: #fff;
  max-width: 253px;
  padding: 12px;
  width: 100%;
  color: var(--2nd, #000);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
  border: none;
  margin-bottom: 150px;
}
.header > .container button:hover {
  background: #f7c63b;
  color: #fff;
}
.header > .container .picture {
  max-width: 560px;
  width: 560px;
}
.header > .container .picture img {
  max-width: 560px;
  width: 560px;
}
@media (max-width: 670px) {
  .header > .container .picture {
    max-width: 350px !important;
    width: 100%;
  }
  .header > .container .picture img {
    max-width: 350px !important;
    width: 100%;
  }
}

.about-section {
  background: rgba(234, 243, 245, 0.4);
  padding: 72px 0;
}
.about-section .title {
  margin-bottom: 40px;
}
.about-section li {
  color: #222;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  margin-bottom: 24px;
}
.about-section .content {
  display: flex;
  gap: 74px;
  margin-bottom: 50px;
}
@media (max-width: 1230px) {
  .about-section .content {
    flex-direction: column;
  }
  .about-section .content img {
    max-width: 100%;
    width: 100%;
  }
}
.about-section img {
  max-width: 470px;
  width: 470px;
  height: 100%;
  object-fit: cover;
}
.about-section .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
.about-section .cards h2 {
  color: var(--2nd, #000);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (max-width: 850px) {
  .about-section .cards h2 {
    font-size: 24px;
  }
}
.about-section .cards p {
  color: var(--2nd, #000);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
}

.why-us-section {
  padding: 72px 0;
}
.why-us-section .title {
  margin-bottom: 33px;
}
.why-us-section p {
  color: #222;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  max-width: 1000px;
  margin-bottom: 50px;
}
.why-us-section .cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.why-us-section .cards .card {
  border-radius: 16px;
  padding: 20px;
  height: 288px;
  max-width: 393px;
  min-width: 360px;
}
.why-us-section .cards .card img {
  margin-bottom: 24px;
}
.why-us-section .cards .card h2 {
  color: var(--2nd, #000);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  /* 160% */
  margin-bottom: 16px;
}
.why-us-section .cards .card p {
  color: #222;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}
.why-us-section .cards .card:nth-child(1) {
  background: #fff3e3;
}
.why-us-section .cards .card:nth-child(2) {
  background: #eaf3f5;
}
.why-us-section .cards .card:nth-child(3) {
  background: #f2f4eb;
}

.services-section {
  background: #f7fafb;
  padding: 72px 0;
}
.services-section .title {
  margin-bottom: 41px;
}
.services-section .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 390px);
  grid-auto-rows: 320px;
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 800px) {
  .services-section .cards {
    grid-template-columns: repeat(auto-fill, 340px);
  }
}
.services-section .cards .card {
  position: relative;
  display: flex;
  align-items: end;
  cursor: pointer;
}
.services-section .cards .card:hover {
  transform: scale(1.05);
}
.services-section .cards .card h2 {
  padding: 24px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  /* 150% */
  position: relative;
  z-index: 10;
  max-width: 353px;
  width: 100%;
}
.services-section .cards .card::after {
  content: "";
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5019607843) 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.services-section .secondary-btn {
  border-radius: 30px;
  background: var(--main, #f7c63b);
  max-width: 253px;
  padding: 12px;
  width: 100%;
  border: none;
  margin: 0 auto;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
  display: block;
  border: 1px solid transparent;
  transition: 0.3s ease-in;
  cursor: pointer;
  text-align: center;
}
.services-section .secondary-btn:hover {
  background: #fff;
  color: #f7c63b;
  border: 1px solid #f7c63b;
}

.testimionals-section {
  padding: 72px 0;
}
.testimionals-section .title {
  margin-bottom: 41px;
}
.testimionals-section .container .slider {
  display: flex;
  gap: 30px;
}
@media (max-width: 1030px) {
  .testimionals-section .container .slider {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.testimionals-section .container .slider .content {
  border-radius: 16px;
  background: #f7fafb;
  padding: 32px;
}
@media (max-width: 500px) {
  .testimionals-section .container .slider .content > div {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
.testimionals-section .container .slider .content h2 {
  color: #222;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 133.333% */
  margin-bottom: 24px;
  max-width: 683px;
}
.testimionals-section .container .slider .content p {
  color: #444;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .testimionals-section .container .slider .content p {
    margin-bottom: 10px;
  }
}
.testimionals-section .container .slider .content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimionals-section .container .slider .content > div h4 {
  color: var(--2nd, #000);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  margin-bottom: 5px;
}
.testimionals-section .container .slider .content > div p {
  color: #444;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}
.testimionals-section .container .slider .content > div div:nth-child(2) {
  display: flex;
  gap: 16px;
}
.testimionals-section .container .slider .content > div div:nth-child(2) div {
  padding: 12px 18px;
  border: 1px solid #444;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.testimionals-section .container .slider .content > div div:nth-child(2) div:hover {
  background: #e2d9d9;
}
@media (max-width: 700px) {
  .testimionals-section .container .slider .content > div div:nth-child(2) div {
    padding: 5px;
  }
  .testimionals-section .container .slider .content > div div:nth-child(2) div * {
    width: 15px;
    height: 15px;
  }
}
.testimionals-section .container .slider .img {
  max-width: 393px !important;
  max-height: 326px !important;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
.testimionals-section .container .slider .img img {
  border-radius: 16px;
  object-fit: cover;
  max-width: 393px !important;
  max-height: 326px !important;
  height: 100%;
  width: 100%;
}

.faq-section {
  padding: 72px 0;
}
.faq-section .title {
  margin-bottom: 70px;
}
@media (max-width: 1110px) {
  .faq-section .container > div > div {
    display: none !important;
  }
  .faq-section .container > div ul {
    width: 100%;
  }
  .faq-section .container .faq-que-ans {
    display: block !important;
    max-height: 0;
    overflow: hidden;
    transition: all 1.5s ease;
    background: #f7fafb;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
    padding: 0px;
  }
  .faq-section .container .faq-que-ans h2 {
    color: var(--2nd, #000);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
    margin-bottom: 10px;
  }
  .faq-section .container .faq-que-ans p {
    color: var(--2nd, #000);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
  }
  .faq-section .container .faq-que-ans_active {
    max-height: 100%;
    padding: 12px;
  }
}
.faq-section .container > div {
  display: flex;
}
.faq-section .container > div .faq-que-ans {
  display: none;
}
.faq-section .container > div ul {
  max-width: 660px;
  width: 660px;
}
.faq-section .container > div ul label {
  display: flex;
  padding: 24px 16px;
  color: var(--2nd, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  background: #fff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  gap: 16px;
  justify-content: space-between;
  cursor: pointer;
}
.faq-section .container > div ul label:hover {
  background: #fafbff;
}
.faq-section .container > div ul label p {
  flex: 1;
}
.faq-section .container > div ul label input {
  display: none;
}
.faq-section .container > div .active {
  background: #fafbff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.faq-section .container > div .active svg path {
  stroke: #f7c63b;
}
.faq-section .container > div .active svg circle {
  fill: #f7c63b;
}
@media (max-width: 1110px) {
  .faq-section .container > div .active svg {
    transform: rotate(90deg);
  }
}
.faq-section .container > div > div {
  padding: 40px 32px 14px 144px;
  border-radius: 16px;
  background: #f7fafb;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
  position: relative;
  top: -20px;
  left: -40px;
  z-index: -1;
  max-width: 648px;
  width: 100%;
}
.faq-section .container > div > div h2 {
  color: var(--2nd, #000);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 155.556% */
  margin-bottom: 40px;
}
.faq-section .container > div > div p {
  color: var(--2nd, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.partners-section {
  padding: 72px 0;
  background: #f7fafb;
}
.partners-section .title {
  margin-bottom: 40px;
}
.partners-section .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 224px);
  grid-auto-rows: 140px;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 500px) {
  .partners-section .cards {
    grid-template-columns: 1fr;
  }
}
.partners-section .cards .card {
  border-radius: 16px;
  border: 1px solid #e8e8e8;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  position: relative;
  filter: grayscale(100%);
}
.partners-section .cards .card:hover {
  border: 1px solid var(--main, #f7c63b);
  filter: grayscale(0);
}

.footer {
  padding: 95px 0;
  background: var(--2nd, #000);
}
.footer h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 155.556% */
  margin-bottom: 30px;
}
@media (max-width: 800px) {
  .footer h2 {
    margin-bottom: 12px;
  }
}
.footer .container {
  color: #fff;
  font-family: Manrope;
}
.footer .container > div {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}
@media (max-width: 1073px) {
  .footer .container > div {
    flex-wrap: wrap;
    gap: 45px;
  }
}
.footer .container .row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 65px;
  margin-bottom: 40px;
}
.footer .container .row div img {
  margin-bottom: 35px;
}
.footer .container .row div a[href="tel:+971 52 100 1880"] {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 10px;
}
.footer .container .row div:nth-child(2) {
  flex: 1;
}
.footer .container .row div:nth-child(2) ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 51px;
  min-width: 350px;
}
@media (max-width: 870px) {
  .footer .container .row div:nth-child(2) ul {
    gap: 10px;
  }
}
.footer .container .row div:nth-child(2) ul li {
  font-size: 16px;
  font-weight: 400;
}
.footer .container .row div:nth-child(2) ul li a {
  opacity: 0.65;
  transition: 0.3s ease;
}
.footer .container .row div:nth-child(2) ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.footer label {
  display: flex;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 124, 0.2);
  background: #fff;
}
.footer label input {
  padding: 15px;
  border: none;
  background: transparent;
  outline: none;
  color: var(--Dark, #0a142f);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
}
.footer div:nth-child(2) {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 870px) {
  .footer div:nth-child(2) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
.footer div:nth-child(2) div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer div:nth-child(2) .socials {
  gap: 10px;
}
.footer div:nth-child(2) .socials a {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.footer div:nth-child(2) .socials a img {
  width: 15px;
}
.footer div:nth-child(2) .socials a:hover {
  background: #2e2d2d;
}
.footer div:nth-child(2) div {
  display: flex;
  gap: 16px;
}
.footer div:nth-child(2) div img {
  width: 32px;
}

@media (max-width: 870px) {
  section,
  footer {
    padding: 24px 0 !important;
  }
}
.second-header {
  background: #f7fafb;
  margin-bottom: 64px;
}

.form-section {
  margin-bottom: 140px;
}
.form-section .container h2 {
  color: var(--2nd, #000);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  max-width: 630px;
  margin-bottom: 90px;
}
.form-section .container form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.form-section .container form div {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.form-section .container form div input {
  flex: 1;
  position: relative;
  padding: 10px 10px 32px;
  border: 1px solid;
  /*border: none;*/
  /*border-bottom: 1px solid #e2d9d9;*/
  outline: none;
  color: var(--2nd, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 180% */
}
.form-section .container form textarea {
  width: 100%;
  color: var(--2nd, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 180% */
  /*border: none;*/

  outline: none;
  border: 1px solid;
  /*border-bottom: 1px solid #e2d9d9;*/
  resize: vertical;
  padding: 10px 10px 100px;
}
.form-section .container form button {
  border-radius: 30px;
  background: var(--main, #f7c63b);
  max-width: 253px;
  padding: 12px 36px;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
}

.contact-info-section {
  background: #f7fafb;
}
.contact-info-section .container {
  display: flex;
  justify-content: space-between;
  gap: 79px;
  padding: 80px 20px;
}
.contact-info-section .container div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 216px;
}
.contact-info-section .container div h3 {
  color: var(--2nd, #000);
  /* Sub Heading */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact-info-section .container div h3:nth-child(1)::after {
  margin-top: 25px;
  content: "";
  display: block;
  width: 27px;
  height: 3px;
  background: #000;
}
.contact-info-section .container div p {
  color: var(--2nd, #000);
  /* Paragraph */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}
.contact-info-section .container div:nth-child(1) {
  max-width: 415px;
}
.contact-info-section .container div:nth-child(1) h2 {
  color: var(--2nd, #000);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
}
.contact-info-section .container div:nth-child(1) p {
  color: var(--2nd, #000);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  /* 150% */
}

.solutions-section {
  margin-bottom: 140px;
}
.solutions-section .container h2 {
  color: var(--2nd, #000);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 36px;
  max-width: 1130px;
}
.solutions-section .container p {
  color: #666;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 1130px;
  margin-bottom: 56px;
}
.solutions-section .container .cards {
  display: flex;
  position: relative;
}
.solutions-section .container .cards::after {
  position: absolute;
  bottom: 0;
  max-width: 970px;
  border-radius: 60px;
  background: rgba(30, 30, 30, 0.05);
  filter: blur(50px);
  width: 100%;
  min-height: 322px;
  z-index: 1;
}
.solutions-section .container .cards .card {
  position: relative;
  z-index: 10;
  border-radius: 4px;
  background: #fff;
  gap: 68px;
  display: flex;
  align-items: start;
  gap: 28px;
  max-width: 574px;
  padding: 20px 24px;
}
.solutions-section .container .cards .card h3 {
  color: var(--Black, #0c141d);
  font-feature-settings: "cv11" on;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 54px */
  margin-bottom: 12px;
}
.solutions-section .container .cards .card p {
  color: var(--Gray-500, #667085);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 27px */
}

.professionals-section {
  margin-bottom: 56px;
}
.professionals-section .container h2 {
  color: var(--2nd, #000);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 736px;
  margin-bottom: 36px;
}
.professionals-section .container p {
  color: #666;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}
.professionals-section .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(384px, 380px));
  gap: 10px;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .professionals-section .container .cards {
    grid-template-columns: repeat(auto-fill, minmax(334px, 330px));
  }
}
.professionals-section .container .cards .card {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.professionals-section .container .cards .card .card-content {
  background: linear-gradient(180deg, rgba(12, 20, 29, 0.03) 14.09%, rgba(12, 20, 29, 0.1) 66.22%, rgba(12, 20, 29, 0.7) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  border-radius: 5px;
  cursor: pointer;
}
.professionals-section .container .cards .card .card-content h3 {
  color: var(--Base-White, #fff);
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 48px */
}
.professionals-section .container .cards .card .card-content p {
  color: var(--Gray-400, #98a2b3);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
}
.professionals-section .container .cards .card:hover .card-content {
  bottom: 5px;
}

@media (max-width: 807px) {
  .solutions-section {
    margin-bottom: 0px;
  }
  .solutions-section .container h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .solutions-section .container p {
    color: rgb(35, 0, 0);
    font-size: 16px;
  }
  .solutions-section .container .cards {
    display: flex;
    flex-direction: column;
  }
  .solutions-section .container .cards .card {
    margin: 0 auto;
  }
  .solutions-section .container .cards .card h3 {
    font-size: 28px;
  }
  .solutions-section .container .cards .card p {
    font-size: 14px;
    margin: 0;
  }
  .professionals-section .container h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .professionals-section .container p {
    font-size: 16px;
  }
  .professionals-section .container .cards {
    justify-content: center;
  }
}
@media (max-width: 960px) {
  .form-section {
    margin-bottom: 40px;
  }
  .form-section .container h2 {
    font-size: 28px;
  }
  .form-section .container form {
    gap: 38px;
  }
  .form-section .container form div {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    flex-wrap: wrap;
  }
  .form-section .container form button {
    max-width: 233px;
    padding: 10px 32px;
    font-size: 18px;
  }
  .contact-info-section .container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  .contact-info-section .container div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 216px;
  }
  .contact-info-section .container div h3 {
    font-size: 18px;
  }
  .contact-info-section .container div p {
    font-size: 16px;
  }
  .contact-info-section .container div:nth-child(1) {
    max-width: 415px;
  }
  .contact-info-section .container div:nth-child(1) h2 {
    font-size: 36px;
  }
  .contact-info-section .container div:nth-child(1) p {
    font-size: 20px;
  }
}
.services-page-section .container h2 {
  color: var(--2nd, #000);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 36px;
}
.services-page-section .container p {
  color: #666;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 56px;
  max-width: 1124px;
}
.services-page-section .cards {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.services-page-section .cards .card {
  cursor: pointer;
}
.services-page-section .cards .card > div {
  display: flex;
  gap: 40px;
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 15px;
}
.services-page-section .cards .card > div h3 {
  color: var(--2nd, #000);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  margin-bottom: 16px;
}
.services-page-section .cards .card > div p {
  color: var(--Gray-500, #667085);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}
.services-page-section .cards .card:hover {
  background: #f7fafb;
}
.services-page-section .cards .card div img {
  max-width: 95vw;
  border-radius: 16px;
}

@media (max-width: 930px) {
  .services-page-section .container h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .services-page-section .container p {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .services-page-section .cards {
    gap: 20px;
  }
  .services-page-section .cards .card > div {
    padding: 5px;
    gap: 15px;
    flex-direction: column;
  }
  .services-page-section .cards .card > div img {
    width: 100% !important;
  }
  .services-page-section .cards .card > div p {
    font-size: 14px !important;
  }
  .services-page-section .cards .card > div h3 {
    font-size: 18px !important;
    margin-bottom: 0;
  }
}
.why-us-page-section {
  margin-bottom: 150px;
}
.why-us-page-section .container > h2 {
  font-size: 32px;
  font-family: Manrope;
  margin-bottom: 25px;
  position: relative;
}
.why-us-page-section .container > h2::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #000;
  top: 12px;
  left: -25px;
}
@media (max-width: 900px) {
  .why-us-page-section .container > h2::before {
    display: none;
  }
}
.why-us-page-section .container .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
  .why-us-page-section .container .cards {
    grid-template-columns: 1fr;
  }
}
.why-us-page-section .container .cards .card {
  display: flex;
  gap: 20px;
  padding: 40px;
  width: 100%;
}
@media (max-width: 900px) {
  .why-us-page-section .container .cards .card {
    border: none !important;
    border-bottom: 1px solid #d9dfe4 !important;
  }
  .why-us-page-section .container .cards .card:last-child {
    border: none !important;
  }
}
@media (max-width: 500px) {
  .why-us-page-section .container .cards .card {
    padding: 10px;
  }
}
.why-us-page-section .container .cards .card h3 {
  font-size: 24px;
  margin-bottom: 5px;
  font-family: Manrope;
  font-weight: 600;
}
.why-us-page-section .container .cards .card span {
  font-weight: 400;
  font-family: Manrope;
  padding-top: 20px;
  font-size: 18px;
  opacity: 0.5;
}
.why-us-page-section .container .cards .card p {
  font-size: 14px;
  line-height: 18px;
  font-family: Inter;
}
.why-us-page-section .container .cards .card:nth-child(1) {
  border-bottom: 1px solid #d9dfe4;
  border-right: 1px solid #d9dfe4;
}
.why-us-page-section .container .cards .card:nth-child(2) {
  border-bottom: 1px solid #d9dfe4;
}
.why-us-page-section .container .cards .card:nth-child(3) {
  border-right: 1px solid #d9dfe4;
}