{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EastWest | Home</title>
    <link rel="icon" href="{% static 'images/icons/logo.svg' %}"/>
    <link rel="stylesheet" href="{% static 'style/css/style.css' %}"/>
</head>
<body>


{% include 'header.html' %}


{% block content %}

{% endblock %}


{% include 'footer.html' with form=form %}


<script src="{% static 'script.js' %}"></script>
</body>
</html>